* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
}

header {
  background-color: #212529;
  padding: 1rem;
  height: 75px;

  color: #fff;
  font-weight: bold;
  font-size: 2rem;

  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #fff;
}

textarea {
  height: calc(100vh - 75px);
  width: 100vw;
  outline: none;
  border-radius: 0;
  border: 1px solid black;
  font-size: 1.2rem;
}

button {
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
